body {
    width: 100vw;
}

/* NAVBAR */
.navbar {
    background-color: darkgoldenrod !important;
}
/* CONTENT DIV */
#page-content {
    margin: 1%;
}

/* HOMEPAGE */
#homepage-content {
    margin: auto;
    color: white;
    width: 90%;
}

/* DATA TABLE */
#data-table {
    margin: auto;
    padding: 10px;
    color: white;
    width: 80%;
    border: 0px;
}

#data-table th {
    border: 3px solid white !important;
    background-color: darkgoldenrod;
    text-align: center;
}

th .dash_filter {
    color: white;
    --text-color: white;
}

#data-table tr td {
    text-align: center;
}

#data-table tr:nth-child(even) td {
    background-color: darkgoldenrod;
}

#data-table tr:nth-child(odd) td {
    background-color: rgba(17, 17, 17, 0.842);
}

.previous-next-container {
    color: white;
}


/* MAP */
#filter-div {
    width: 50%;
    margin: auto;
}

#filter-years {
    color: black;
}

#filter-variable {
    margin: 10px auto 10px auto;
    width: 80%;
    color: white;
}

#filter-variable > * {
    margin-left: 10px;
    margin-right: 10px;
}

#graph {
    margin: auto;
    width: 80vw;
    height: 70vh;
    color: black;
}