body {
    width: 100vw;
    background-image: url("dark-honeycomb.png");
}

/* NAVBAR */
.navbar {
    background-color: darkgoldenrod !important;
}

#navbar * {
    color: white;
}

a.nav-link:hover, .navbar-brand:hover {
  color: black !important;
}


/* CONTENT DIV */
#page-content {
    margin: 1%;
}

/* HOMEPAGE */
#homepage-content {
    margin: auto;
    color: white;
    width: 90%;
}

/* DATA TABLE */
#data-table {
    margin: auto;
    padding: 10px;
    color: white;
    width: 80%;
}

#data-table th {
    border: 3px solid white !important;
    background-color: darkgoldenrod;
    text-align: center;
}

th .dash_filter {
    color: white;
    --text-color: white;
}

#data-table tr td {
    text-align: center;
}

#data-table tr:nth-child(even) td {
    background-color: darkgoldenrod;
}

#data-table tr:nth-child(odd) td {
    background-color: rgba(17, 17, 17, 0.842);
}

.previous-next-container {
    color: white;
}


/* MAP */
#filter-div {
    width: 50%;
    margin: auto;
}

#filter-years {
    color: black;
}

#filter-variable {
    margin: 10px auto 10px auto;
    width: 80%;
    color: white;
}

#filter-variable > * {
    margin-left: 10px;
    margin-right: 10px;
}

#map {
    margin: auto;
    width: 80vw;
    height: 70vh;
    color: white!;
}


/* PLOTS */
#plots-container {
    margin: auto;
    padding: 10px;
    width: 80%;
}

#dropdowns {
    padding: 2%;
}


.filter-dropdown {
    width: 49%;
    display: inline-block;
    color: black;
}

#state-filter-div {
    width: 49%;
    color: black;
}

#left-div {
    height: 70vh;
    width: 49%;
    display: inline-block;
}

#left-plot {
    height: 100%;
}

#right-div {
    display: inline-block;
    height: 70vh;
    width: 49%;
}

#right-plot-1 {
    height: 35vh;
}

#right-plot-2 {
    height: 35vh;
}

/* ADDITIONAL */

.Select-control *{
    background-color: rgb(219, 218, 215);
}
